---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogListElement from '../components/BlogListElement.astro'
const pageTitle = "Blog";
const allPosts = await Astro.glob('../pages/posts/*.md');
---

		<BaseLayout pageTitle={pageTitle}>
		
			<h1>Mi blog de Astro aprendizaje</h1>
			
			<p>Aquí es donde voy a postear sobre mi viaje de aprendizaje Astro.</p>
	
			<ul>
			{
				allPosts.map((post)=>{
					return <BlogListElement 
					url={post.url} 
					title = {post.frontmatter.title}
					/>
				})
			}
	
			</ul>
		</BaseLayout>
